# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [1]:
#Your code here
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Data/Zipcode_Demos.csv')
# for looking at the top list of the DataFrame we use df.head()

df.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [3]:
try:
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except Exception as e:
    print(e)

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [4]:
# # Iteration 1 
for i in range(1500,2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except:
        print('First failure at: {}'.format(i))
        break
df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)
print(len(df))
df1.head()

First failure at: 1962
1961

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg

In [14]:
# # Iteration 1 
for i in range(1500,2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except:
        print('First failure at: {}'.format(i))
        break
df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)
print(len(df))
df1.head()

First failure at: 1962
1961

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg

In [15]:
df1

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0.0,HkYqGb0Gplmmk-xlHTRBoA,1.0,The score should be negative. Its HORRIBLE. Th...,0.0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0.0,RgqWdZA4xR023iP3T6jVfA,5.0,I went there twice and I am pretty happy with ...,0.0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0.0,51RHs_V_fjuistnuKxNpEg,5.0,Finally! After trying many Mexican restaurants...,0.0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0.0,alI_kRKyEHfdHibYGgtJbw,1.0,I have to write a review on the Fractured Prun...,0.0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0.0,85DRIjwPJOTb4q0qOlBstw,1.0,I wish i could tell you all about the food but...,1.0,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0.0,GbiLIKmQPVCBtdNkTVdVSA,5.0,Wonderful! One of my favorite places. BBQ is e...,0.0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0.0,UaHgsL0xS4UnJ_iKqeOk_w,5.0,The price is about the same as Quizinos. The s...,0.0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0.0,c4zzAD1S6721Fh-acCBy-g,4.0,The food was ok. You get a lot of food for the...,0.0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0.0,TTBwocu2mvqJFJrwmJN0Sw,5.0,The staff were friendly and helpful. The food ...,1.0,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0.0,-CresnnXQSHrQ85Ogm-Pqw,5.0,The staff were very helpful. We painted potter...,0.0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0.0,U04YgYr4PiGUxB46J4xapg,2.0,Limited vegetarian options. Ordered Greek sala...,0.0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0.0,s9cpVj40VR_yl0lXbZQe6w,5.0,I trust my vehicles here. Comparable prices. M...,0.0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0.0,AJ0IglpYAp2D0daOlVGIdg,1.0,This place doesn't even deserve 1 star. Horrib...,18.0,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0.0,5D_MsAJHrMa8QKkpE3g1Sg,5.0,The butter burger was cooked perfectly and jui...,0.0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0.0,5bWN_IN8MQGjJ6_ZIXffDw,5.0,Best location ever! I love love love the manag...,0.0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0.0,RW_mYzHYfdqn6g7xVgIcKg,4.0,This was a real fun time. Lots of laughs and e...,NaN,NaN
21,Food was pretty decent as well. Like the salad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4 stars since I'm bummed there were no mojitos.,0,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0.0,SLA1YP9doUc8h-6Kd34QmA,1.0,Horrible. The smart ones have closed their acc...,NaN,NaN
24,Manager doesn't take accountability for the la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Be smart take you money out and run.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0.0,qxPiEGIHy5xyVy78avH5Rg,4.0,Love the 'old school' ambiance. Friendly staff...,NaN,NaN
27,Come for the popcorn and drinks.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0.0,q6ij-nz5d_hvdjuelho1pQ,5.0,Better service and much better prices than the...,0.0,WnM2AmNIint5b5f688nmPg
29,95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0.0,66FSK2J1uHJqVI1Z8QiFGw,4.0,I love how they have no rice sushi options. Th...,0.0,Yy_iGXxLpL6tYDQoE-6XVg
...,...,...,...,...,...,...,...,...,...,...
1931,4929,MQJxekA2SN8kmoo-kiq1dw,0,2016-08-11,0.0,nSkln1WMfPcYMlu9_U_2Rg,4.0,Make sure you get her tomato salad now while i...,0.0,gqYegYGd-N4TLUile0CS8g
1932,4931,C3GUi1zAtJdDBWrPoPZjBQ,1,2016-08-11,1.0,y7L3g9JrkUbh07NnfUTX0Q,4.0,I love their beer. I love it. I should have co...,1.0,gqYegYGd-N4TLUile0CS8g
1933,4932,hyyy_yFDI3CJJaG3uROGBA,0,2016-08-11,0.0,Y3doD-V1_HE5HqkkVzqwkw,4.0,The most consistent place I've ever been to as...,0.0,gqYegYGd-N4TLUile0CS8g
1934,4933,OF19lUVQHj8pVaSACNewWg,0,2016-08-11,0.0,Ct3tfJWvJbS2NpMO48ruig,3.0,Been there a few times. I feel like I'm a both...,0.0,gqYegYGd-N4TLUile0CS8g
1935,4935,OA5Li3ySzhrbG_WvD_QGYA,0,2016-08-11,0.0,ihkFnY4-zKqf4xcE9kieSA,5.0,Best tacos for price there are. They brought f...,0.0,gqYegYGd-N4TLUile0CS8g
1936,4937,7m1Oa1VYV98UUuo_6i0EZg,0,2014-11-03,0.0,LnjBL-Iammf1_wb3uYVb1w,5.0,Best burgers in town hands down. Presentation ...,0.0,fdkfe69RTWTYws9oEcjRAQ
1937,4941,oa52t2Nfb7sOCqJE5M5hzg,1,2014-10-31,0.0,0ZkpokXX9Rk-1efEMgJ6ug,5.0,Cuisine for both meals was very amazing. Turn ...,0.0,fdkfe69RTWTYws9oEcjRAQ
1938,4942,j2bx_ctb_ED3zbfSaqhQmQ,0,2014-10-23,0.0,fpS7DeGecld3hJDVfLykEA,5.0,Service was and always is amazing. Food here i...,0.0,fdkfe69RTWTYws9oEcjRAQ
1939,4948,UO4HTFr0D_hEYvxrItx9vA,0,2015-12-28,0.0,VL38auKCiOYInYF2rYAd-g,1.0,It took almost an hour plus windows and floors...,0.0,L2XjX7843f9Jn09NTh0qvQ
1940,4951,NJ0RzuWd5xDqfJejYQZ65g,0,2009-12-10,0.0,YLQt2zCcXd_iJhzFdBBh3w,5.0,Wonderful food and service. I got the beet sal...,0.0,sNUD7INzDJYtuj6jAuIMRg
1941,4954,miMx3VNOW8qPJC5wEGaIOw,0,2013-06-26,0.0,Joh4pM9wb0EseqEITdMnAQ,5.0,Great food and people running it. I highly re...,NaN,NaN
1942,Again: get a Vermicelli bowl.,1,sNUD7INzDJYtuj6jAuIMRg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1943,4955,mlCDsdVFuZvRGrJTfQ6amw,0,2013-06-24,0.0,qeC6SaRgH4U6MxW0jE6R7w,4.0,Definitely worth the detour off of 80 to get s...,0.0,sNUD7INzDJYtuj6jAuIMRg
1944,4956,yLKoESPQ8BN7dn6ADzZicQ,0,2013-06-26,0.0,AJKCDiBmqFD4KjpbfOUHVg,4.0,Definitely one of the better options along gre...,NaN,NaN
1945,The menu is on eatcu's website.,1,sNUD7INzDJYtuj6jAuIMRg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946,4960,xrtyYnxgx7bTM3AEiwjWiA,0,2015-05-10,0.0,RhsBkpQpJn5wQnmcjo6HJA,5.0,The pantry was great came from a long trip had...,0.0,zL9ClwW6VnzJzsQVpMIXaQ
1947,4961,cQlmYFkJt1axuaKE3FiPxQ,0,2015-05-10,0.0,MdgbAedU24AL-2mXkbo_Jg,1.0,First time we stopped Monicals sat for eight m...,0.0,zL9ClwW6VnzJzsQVpMIXaQ
1948,4967,Kkpnsw5cuUwySbSKYUl7Iw,0,2017-12-03,0.0,8aX9VP1V0WVcuTN75mST6g,5.0,I have been here a few times and found the sta...,0.0,LTvChiWwJ7Y2hjBExB0a0Q
1949,4971,uD8SU0khj7Kn4BOrL-dwWw,1,2015-02-16,1.0,Cl129hSCUo-o41KjJQltcw,1.0,The line at the cutting table is ridiculous. T...,3.0,X72tQyDHRehGs6rwgt4EmQ
1950,4972,RWuYX5v7m7giMDmmhP7sVA,0,2016-06-16,0.0,bpr5_1x3RS3Dv4wLUa8B6Q,5.0,Lucas and his staff could not be more helpful ...,0.0,X72tQyDHRehGs6rwgt4EmQ
1951,4974,QhJT2fro3Dp1AaIVY7pgzQ,0,2017-06-25,0.0,kb4uFSvshz9Z2s8PcpekyA,1.0,The service was good and the lady who works th...,0.0,gOKk2aeRj49wAVGxGhdLZQ
1952,4982,K7lWdNUhCbcnEvI0NhGewg,0,2015-01-15,0.0,RMisEz2shYxuN_v_3nI2tw,4.0,I came to this buffet because of the ratings i...,0.0,cyR413IWtGe4VVuad4P-ow
1953,4984,A8UtlAQem2hPDe-UfsvndQ,0,2017-08-06,0.0,x_6xVjcOJL1OCcoQiEhF2g,5.0,This is the best Cajun food in Phoenix. Best E...,0.0,V2djoi-PqvPI1HcQUiy0lg
1954,4986,UCKwaY8_cgYZ4U0hZYWIUA,1,2014-01-28,0.0,u2rpsq1QFr66OURcIL-2_g,1.0,Do not use. Not reliable. Paid $1500 deposit i...,4.0,HLTht1eRoaRjnURKVnF31A
1955,4990,5jXwI9WpDxGDmzmkmE0RTg,0,2010-11-06,0.0,YGJKmW0h-qQD79qZPEf7Lw,5.0,There were 5 of us who tried Oishi. All of us...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')

ParserError: Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [6]:
# # Iteration 2 
for i in range(0,500):
    try:
        temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', skiprows=1962, nrows=i, names=df1.columns)
    except:
        print('First failure at: {}'.format(i))
        break
df2 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', skiprows=1962, nrows=i-1, names=df1.columns)
print(len(df2))
df2.head()

498

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,STAY AWAY FROM THIS PLACE!!!!!!,5,sDofYImMQQmu4Le5G9zmpQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3948,GAKFx4jFUtTOTpp_jDJnuA,0,2017-09-01,0,OUZWMw7EgO7D596pUelSlA,5,Nice relaxing atmosphere. Friendly service and...,1,6vJY67yve43Ijvn8RKVUow
2,3949,0QzCeORfF8EY34UODWRV9A,0,2017-09-03,0,7lbykaWFD8YBwT0mU1Rexw,4,Very pleased with our experience. Great off th...,0,6vJY67yve43Ijvn8RKVUow
3,3950,tlt8zNrZ6_A3DmXiM-cnBA,0,2016-06-12,0,Nd_soHwCYi8adcNIT2w9LQ,1,Wife went to this location and was horrible. N...,0,S0dnPb1OzaqdBSOxyLr7BQ
4,3952,XD0LjNuPPwJPsTAHecUh7A,0,2015-08-23,0,FUUTAr5CECrkfRa9Y2-MSg,1,Not baby friendly anymore.,NaN,NaN